.wrapper {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 9;
  transition: 0.2s ease-in-out;
  background-color: var(--background);

  box-shadow: 0px 0px 20px -10px #000;
}
.header {
  max-width: var(--container);
  padding: calc(var(--padding) / 2) var(--padding);
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
.title {
  max-width: 100px;
  font-size: 24px;
  line-height: 26px;
  font-weight: 900;
  font-family: var(--font-bebas-sans);
  color: var(--main);
  text-transform: uppercase;
  letter-spacing: 1px;
}

.nav {
  display: flex;
  align-items: center;
  width: 60%;
  gap: 20px;
}

.link {
  font-size: 16px;
  text-transform: capitalize;
  cursor: pointer;
  display: flex;
  align-items: center;
  white-space: nowrap;
  padding: 10px 0;
  gap: 5px;
  &.active {
    color: var(--main);
    border-bottom: 2px solid var(--main);
  }
}

.dropdown {
  position: relative;
}

.collapse {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  min-width: fit-content;
  background-color: var(--background);
  border-radius: 10px;
  margin-top: 10px;
  z-index: 10;
  white-space: nowrap;

  box-shadow: 0px 0px 20px -10px #000;
}
.sublink {
  display: block;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 400;
  text-transform: capitalize;
  cursor: pointer;
  white-space: nowrap;

  /* border-bottom: 1px solid var(--main); */

  &:last-child {
    border-radius: 0 0 10px 10px;
  }
  &:first-child {
    border-radius: 10px 10px 0 0;
  }
  &.active,
  &:hover {
    background-color: var(--background-active);
  }
}

.chevron {
  transition: 0.2s ease-in-out;
  opacity: 0.7;
  &.rotate {
    transform: rotate(180deg);
  }
}

.searchWrapper {
  position: relative;
  height: 100%;
  background-color: var(--background);
  z-index: 1;
}

.search {
  display: flex;
  align-items: center;
  gap: 10px;
  position: absolute;
  width: fit-content;
  top: 0;
  right: 100%;
  z-index: 1;
  padding: 0 10px 0 30px;
  background: linear-gradient(90deg, transparent 0%, var(--background) 10%);
}
.searchIcon {
  cursor: pointer;
}
.searchField {
  width: 200px;
}

@media (max-width: 1100px) {
  .desktop {
    display: none;
  }
  .logo {
    display: flex;
    align-items: center;
    gap: 10px;
    img {
      width: 50px;
      height: 50px;
    }
  }
  .title {
    max-width: 100px;
    font-size: 16px;
    line-height: 18px;
    font-weight: 900;
    font-family: var(--font-bebas-sans);
    color: var(--main);
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  
}


@media (min-width: 1100px) {
  .mobile {
    display: none;
  }
}
