.page {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.mostSection {
  display: flex;
  gap: calc(2 * var(--padding));
  max-width: var(--container);
  margin: 0 auto;
  padding: 40px var(--padding);
}

.videoContainer {
  padding: 32px 0;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: var(--container);
  margin: 0 auto;
  padding: 40px var(--padding);
  overflow: hidden;
}

.sectionCards {
  display: flex;
  flex-wrap: wrap;
}

.sectionItem {
  padding: 10px;
  width: 25%;
  height: fit-content;

  @media (max-width: 1200px) {
    width: 50%;
  }
}

.blogSection {
  background: linear-gradient(180deg, var(--background-active) 0%, #ffffff 100%);
  overflow: hidden;
}

.blogWrapper {
  display: flex;
  gap: 20px;
  flex-direction: column;
  max-width: var(--container);
  margin: 0 auto;
  padding: 40px var(--padding);
  overflow: hidden !important;
}

.mostViewWrapper {
  flex: 2 400px;
}

.topPost {
  flex: 3 600px;
}

.sectionTitle {
  font-size: 26px;
  font-weight: 700;
  font-family: var(--font-bebas-sans);
  letter-spacing: 1px;
  text-transform: capitalize;
  line-height: 1;
  padding-left: 14px;
  border-left: 4px solid var(--main);
  color: var(--foreground);
}

.cards {
  display: flex;
  flex-wrap: wrap;
  width: calc(100% + 20px);
  margin: 0 -10px;

  @media (max-width: 768px) {
    width: calc(100% + 10px);
    margin: 0 -5px;
  }
}

.postItem {
  width: 50%;
  padding: 10px;
  height: 100%;

  &:first-child {
    width: 100%;
    height: 100%;
  }
}

.pagination {
  margin: var(--padding) auto;
  width: fit-content;
}

.views {
  color: var(--secondary-text);
  margin-bottom: 10px;
  font-size: 12px;
  font-weight: 500;
}

.post {
  .postBanner {
    width: 100%;
    margin: 24px 0;
    border-radius: var(--radius);
    box-shadow: var(--shadow);
  }

  .content {
    margin-top: 24px;
    text-align: justify;
    white-space: pre-wrap;
    line-height: 1.8;
    font-size: 16px;
  }
}

@media (max-width: 1200px) {
  .postItem {
    width: 50%;
    height: 100%;
  }
}

@media (max-width: 768px) {
  .mostSection {
    flex-direction: column;
    padding: 24px var(--padding);
  }

  .mostViewWrapper {
    margin-top: 0;
    margin-bottom: 20px;
  }

  .topPost {
    width: 100%;
    margin: 0;
  }

  .postItem {
    width: 50%;
    padding: 5px;
  }

  .section {
    padding: 28px var(--padding);
  }

  .blogWrapper {
    padding: 28px var(--padding);
  }
}

@media (max-width: 500px) {
  .postItem {
    width: 100%;
  }
}
