.dropdown{
  display: flex;
  padding: 4px;
  
  background-color: var(--background-active);
  width: fit-content;
  border-radius: 30px;
  .language{
    padding: 8px;
    display: flex;
    height: 36px;
    align-items: center;
    z-index: 1;
  }
  .background{
    position: absolute;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background: var(--background);
    transition:  0.3s ease-out;
    z-index: 0;
  }
}