:root {
  --background: #ffffff;
  --foreground: #171717;
  --secondary-text: #17171771;
  --main: #37a711;
  --background-active: #37a71114;
  --font-bebas-sans: "bebas";
  --container: 1300px;
  --padding: 20px;
}

html,
body {
  max-width: 100vw;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}

body {
  color: var(--foreground);
  background: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: var(--font-geist-sans) !important;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
